.custom-card {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    border: 1px solid #ddd !important;
}

/* El efecto ZOOM  */
.custom-card:hover, .card-zoom-activo {
    transform: scale(1.05) !important;
    z-index: 10;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2) !important;
}

/* Lógica de filtrado con Radio Buttons */
input[type="radio"] { display: none; }

#todas:checked ~ .row .news-item { display: block; }
#norte:checked ~ .row .news-item:not(.norte) { display: none; }
#sur:checked ~ .row .news-item:not(.sur) { display: none; }
#playa:checked ~ .row .news-item:not(.playa) { display: none; }

/* Estilo para los botones cuando el radio está activo */
#todas:checked ~ .filter-labels label[for="todas"],
#norte:checked ~ .filter-labels label[for="norte"],
#sur:checked ~ .filter-labels label[for="sur"],
#playa:checked ~ .filter-labels label[for="playa"] {
    background-color: #212529;
    color: white;
}
.news-item {
    display: block; 
}
/* Avatares CSS */
.avatar-css {
    width: 50px; height: 50px;
    background: #555;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
    overflow: hidden; 
}

.avatar-css::before { /* Cabeza */
    content: ''; position: absolute;
    width: 20px; height: 20px;
    background: #eee; border-radius: 50%;
    top: 8px; left: 15px;
}

.avatar-css::after { /* Cuerpo */
    content: ''; position: absolute;
    width: 40px; height: 25px;
    background: #eee; border-radius: 50%;
    bottom: -10px; left: 5px;
}

/* Animación Reveal */
.reveal { opacity: 0; transform: translateY(30px); transition: 0.3s ease-out; }
.reveal.visible { opacity: 1; transform: translateY(0); }
