@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
	/* COLORS */
	--primary-color: #59A8F7;
	--text-color: #505050;
	--bg-color: white;
	--title-color: #2c2c2c;
	/*--text-color-dark: #2c2c2c;*/

	/* FUENTES */
	--title-font: 'DM Serif Display', serif;
	--text-font: 'Open Sans', sans-serif;

	/* SOMBRAS */
	--shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
/*sobrescribe las variables*/
body.dark-mode{
	--bg-color:black;
	--text-color:white;
	--title-color:white;
}
.container-logo img, 
.navbar-brand img{
	width: 60px;
	height: auto;
}
.logo-text{
	font-size: 22px;
	font-weight: 700;
}

.btn-modo-oscuro{
	width: 40px;
	height: 40px;
	background-color: var(--primary-color);
	border: none;
	border-radius: 50%;
	transition: 0.4s;
	cursor: pointer;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--text-font);
	background-color: var(--bg-color);
	color: var(--text-color);
	&.no-scroll {
		overflow: hidden;
	}
}
.footer span{
	font-weight: 500;
	display: block;
	margin-bottom: 10px;
	color: white;
}

/*.container {
	max-width: 1200px;
	margin: 0 auto;

	@media (max-width: 1024px) {
		padding: 0 20px;
	}

	@media (max-width: 768px) {
		padding: 0 40px;
	}

	@media (max-width: 480px) {
		padding: 0 20px;
	}
} */