body {
    background: var(--bg-color);
    font-family: Arial, sans-serif
}

.hero {
    height: 420px;
    background: url('https://picsum.photos/1400/600') center/cover
}

.overlay {
    height: 100%;
    background: rgba(0, 0, 0, .55);
    display: flex;
    align-items: center
}

.card img {
    height: 220px;
    object-fit: cover
}

.sidebar {
    background: var(--bg-color);
    padding: 20px;
    border-radius: 15px
}

.oculto {
    opacity: 0;
    transform: translateY(50px);
    transition: 1s
}

.mostrar {
    opacity: 1;
    transform: translateY(0)
}

.comentario {
    background: var(--bg-color);
    padding: 12px;
    border-left: 4px solid #0d6efd;
    border-radius: 10px;
    margin-bottom: 10px
}

.active-filter {
    transform: scale(1.05)
}